<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2010-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kiss.infrastructure.mapper.UserMapper">

    <select id="getUser" resultType="kiss.domain.user.User" parameterType="java.lang.String">
        select * from users where id=#{value}
    </select>

    <select id="getDetailedUser" resultMap="detailedUserResultMap">
        SELECT u.id, u.name, p.id as phone_id, p.number, p.band
        FROM users u
        LEFT OUTER JOIN phones p on u.id = p.user_id
        where u.id=#{value}
    </select>

    <resultMap id="detailedUserResultMap" type="kiss.domain.user.User">
        <constructor>
            <idArg column="id" javaType="java.lang.String"/>
        </constructor>
        <result property="name" column="name"/>
        <collection property="phones" ofType="kiss.domain.user.Phone">
            <id property="id" column="phone_id"/>
            <result property="number" column="number"/>
            <result property="band" column="band"/>
        </collection>
    </resultMap>

</mapper>
