<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2010-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kiss.infrastructure.mapper.UserMapper">

    <select id="getUser" resultType="kiss.domain.user.User" parameterType="java.lang.String">
        select * from users where id=#{value}
    </select>

    <insert id="insertUser" parameterType="kiss.domain.user.User">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select '1' as id from users limit 1
        </selectKey>
        INSERT INTO users (id, name) VALUES (#{id}, #{name});
    </insert>

    <select id="getDetailedUser" resultMap="detailedUserResultMap">
        SELECT u.id, u.name, p.id as phone_id, p.number, p.band
        FROM users u
        LEFT OUTER JOIN phones p on u.id = p.user_id
        where u.id=#{value}
    </select>

    <resultMap id="detailedUserResultMap" type="kiss.domain.user.User">
        <constructor>
            <idArg column="id" javaType="java.lang.String"/>
            <arg column="name" javaType="java.lang.String"/>
        </constructor>
        <collection property="phones" ofType="kiss.domain.user.Phone">
            <constructor>
                <idArg name="id" column="id" javaType="java.lang.String"/>
                <arg name="number" column="number" javaType="java.lang.String"/>
                <arg name="band" column="band" javaType="java.lang.String"/>
            </constructor>
            <!--<constructor>
                <idArg column="id" javaType="java.lang.String"/>
                <arg column="number" javaType="java.lang.String"/>
                <arg column="band" javaType="java.lang.String"/>
            </constructor>-->
            <!--<id property="id" column="id"/>-->
            <!--<result property="number" column="number"/>-->
            <!--<result property="band" column="band"/>-->
        </collection>
    </resultMap>

</mapper>
